In [1]:
import os
os.chdir('/\hp062767/Acumulados/Analistas LCF/Franklin/Mercados Informales/Carga de Archivos Dragons/Input/Original')

In [2]:
import pandas as pd

In [3]:
# Reading all files
ncols = ['Marca','Id','Título','Descripción','Url','Fecha','Hora','Día Semana','Antigüedad','Entidades','Tags',
         'Imagen','Usuario mencionado','Artículo completo','Sentimiento','Youtube reproducciones','Youtube favoritos',
         'Likes','Tipo','Dominio','Fuente ranking Alexa','Fuente pageviews (Mill)','Fuente pageviews incremento (%)',
         'Fuente backlinks','Fuente total links','Usuario','Nombre usuario','Descripción usuario','Imagen usuario',
         'Enlace usuario','Lugar usuario','Klout Kscore','User Tweets Count','Latitud usuario','Longitud usuario',
         'Ciudad','Provincia','Comunidad','Pais','Código Postal','Mention_Facebook_Status_Type','Fuente Ranking Alexa Pais',
         'Tweet_respuesta','Tweet_RT','Impactos','Categorías','Url Compartida','Software fuente Twitter','Isretweet',
         'Tweet_Id_Father','Destacada','Deleted','Nº ReTweets','Nº Menciones','Red','Veces RT','Usuario/Dominio',
         'Comentarios','Customer_Id','Dislikes','Idioma','Seguidores','Shares','Brand_Id','Comentarios_b','Facebook page fans',
         'FB Likes','Mention_Value_Youtube_User_Subscribers_Count','Reacciones','Reproducciones del canal','Self Media',
         'User Followers Count','User_Value_Following_Count','Youtube comentarios','Youtube rating']
data = pd.DataFrame(columns=ncols)
for filename in os.listdir():
    df_imp = pd.io.excel.read_excel(filename,sheetname=0,na_values='',dtype='object')
    data = data.append(df_imp, ignore_index=True)
    data = data[ncols]

In [4]:
data.head(2)

,Marca,Id,Título,Descripción,Url,Fecha,Hora,Día Semana,Antigüedad,Entidades,...,Facebook page fans,FB Likes,Mention_Value_Youtube_User_Subscribers_Count,Reacciones,Reproducciones del canal,Self Media,User Followers Count,User_Value_Following_Count,Youtube comentarios,Youtube rating
0,ProveedoresWISP2,397f9d204135867fa54a0f4f3aa37e00,NaN,"Internet,cabletv,linea fija\nS/.79 Lima Regio...",https://www.facebook.com/groups/LaCachinaArequ...,30-nov-2017,0:11:45,jueves,1,ILIMITADAS;79.90;TRIO;Además;139.90;89.90;FULL...,...,NaN,0,NaN,0,NaN,false,NaN,0,NaN,NaN
1,ProveedoresWISP2,3ede4a4e59433f94f1f9e4c0c2343bc,NaN,10 GB INTERNET X S/.49.50\nS/.1 Lima\n\nPROMO...,https://www.facebook.com/groups/46605720689164...,30-nov-2017,0:54:57,jueves,1,ILIMITADAS;whatsapp;FACEBOOK;ENTELPERU;GRATIS;...,...,NaN,1,NaN,1,NaN,false,NaN,0,NaN,NaN

### Exporting to SQL

In [54]:
# Making Connection with SQL
# import pyodbc
# conn = pyodbc.connect('DSN=ConexionMI')

In [5]:
import pyodbc
import sqlalchemy
engine = sqlalchemy.create_engine("mssql+pyodbc://charset=scott:tiger@ConexionMI")

In [6]:
from sqlalchemy.types import NVARCHAR
data.to_sql("Datos_Dragons", engine,index=False,dtype={col_name: NVARCHAR(length=4000) for col_name in data})

In [94]:
# To other file formats
# data.to_csv('Consolidado2.csv',index=False,encoding='utf-16')   ## .csv
# data.to_csv('Consolidado.txt',index=False,sep='\t',encoding='utf-16')   ## .txt
# data.to_excel('Consolidado.xlsx',index=False)   ## .excel

### Importing to SQL Worked files

In [7]:
import os
os.chdir('/\hp062767/Acumulados/Analistas LCF/Franklin/Mercados Informales/Carga de Archivos Dragons/Input/Trabajado')

In [8]:
import pandas as pd

In [9]:
# Reading all files
ncols = ['CATEGORIAS','MARCA','URL','DOMINIO','HORA','FECHA','USUARIO','NOMBRE_USUARIO','FLAG','COMENTARIOS','SUBCATEGORIA',
         'PAIS','MODELO_EQUIPO','PRECIO','TITULO','DESCRIPCION','FECHA_REVISION']
data = pd.DataFrame(columns=ncols)
for filename in os.listdir():
    df_imp = pd.io.excel.read_excel(filename,sheetname='DATA',na_values='',dtype='object')
    data = data.append(df_imp, ignore_index=True)
    data = data[ncols]
data['FECHA_REVISION'] = data['FECHA_REVISION'].dt.strftime('%d-%m-%Y')

In [10]:
data.head(2)

,CATEGORIAS,MARCA,URL,DOMINIO,HORA,FECHA,USUARIO,NOMBRE_USUARIO,FLAG,COMENTARIOS,SUBCATEGORIA,PAIS,MODELO_EQUIPO,PRECIO,TITULO,DESCRIPCION,FECHA_REVISION
0,Fija - Vulnerabilidad de la plataforma,FugaDeInformacion2,http://twitter.com/Jorgelo_15/statuses/9324828...,twitter.com,0:36:44,20-nov-2017,Jorgelo_15,Jorge Isaac,Positivo,venta de celulares,Equipos al por mayor,PERU,NaN,NaN,Vendo iPhone 7+ Negro Matte 128 GB para Movist...,NaN,29-11-2017
1,Fija - Vulnerabilidad de la plataforma,AumentoDeVelocidadSpeedy2,http://twitter.com/emilse02__/statuses/9328183...,twitter.com,22:49:51,20-nov-2017,emilse02__,bored,Falso Positivo,No referencia venta de servicios,NaN,NaN,NaN,NaN,RT @GonzaQuiroga7: quiero agradecer a speedy p...,NaN,29-11-2017

In [11]:
# Exporting to SQL
import pyodbc
import sqlalchemy
engine = sqlalchemy.create_engine("mssql+pyodbc://charset=scott:tiger@ConexionMI")

from sqlalchemy.types import NVARCHAR
data.to_sql("Historico_Trabajado", engine,index=False,dtype={col_name: NVARCHAR(length=4000) for col_name in data})

In [12]:
# Making Final querys
import pyodbc
con = pyodbc.connect('DSN=ConexionMI')
cursor = con.cursor()

# Querys
query_add_dragons = """INSERT INTO MI_DatosDragons SELECT * FROM Datos_Dragons"""
query_add_history = """INSERT INTO MI_HistoricoTrabajado SELECT * FROM HISTORICO_TRABAJADO"""
query_drop_tb_dragons = """DROP TABLE Datos_Dragons"""
query_drop_tb_history = """DROP TABLE Historico_Trabajado"""

# Execute Querys
cursor.execute(query_add_dragons)
cursor.execute(query_add_history)
cursor.execute(query_drop_tb_dragons)
cursor.execute(query_drop_tb_history)
con.commit()

# Closing connection
cursor.close()
del cursor
con.close()

In [97]:
# Reading Files
"""
import pyodbc

cnxn = pyodbc.connect('DSN=ConexionMI') 
cursor = cnxn.cursor()
sql = "SELECT TOP 100 * FROM Mi_DM_Consolidado"

df = pd.read_sql(sql,cnxn)
cnxn.close()

"""

'\nimport pyodbc\n\ncnxn = pyodbc.connect(\'DSN=ConexionMI\') \ncursor = cnxn.cursor()\nsql = "SELECT TOP 100 * FROM Mi_DM_Consolidado"\n\ndf = pd.read_sql(sql,cnxn)\ncnxn.close()\n\n'